<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DomainName" value="eV4wLvJbbPER5LkFsz6UrVJpkOWjynNLcYvA92kg9di9NZLq4pTgu04miUKa7zJGLayfn8iayaOf9qVwotpXwTVdrAa+CWLOUXxAmCztNLkg4ywXCpPqSTu/TbKs+MS9"/>
    <add key="ApiKey" value="DeGR7yE6HW9XV7DAL7hK+nEqbxjNpyiRiYiGdKfIVIxWCGZX5fa7a3bmVgIvmhrjbixYn9TP7l0zEJ3iAI9P+XfxpD2ZZ1TX1eC3VqkJsKeiS3lo7MkWj+ZmUlBwWEmHe4LPwZ9CioZnuRV2cCU6tCNwCM2foY2WRZ61HpQ6Zys="/>
    <add key="ToEmails" value="4qbuFpyoMDP5rk+vJ6/piMIeHuSwdpXaLQqbgzIYcd9+4jX2UKQwr9awjLP6n9TelXpG5UTXuiY4hFG4Dhu6xECeBwJ5BVPEjDfhfiGFZkY7cAwe1iA+++6UnE1psrP50DrU94QwDfi9J2Nz2Mb+09qJ9GlZTdCEORtzVW4CcxM="/>
    <add key="FromEmail" value="r2E2P27br6iFQZkemMckduYh+1kYsGS/VyGbB66s0x3Is8qwMrIsZF+APaIV8ot8r4bz60wpcYF/vXyBoVdGKMMBbLwYjFtE2yfXehynqpPqP/AkHSq4+AAqUdH8H80j"/>
    <add key="FromName" value="E1sk5kWnQ9DyZ8oYU7o2afaO1rjgRn8JnKI6JW8PXkCAvFwaOjf6QcIqlDVHvdGZvmqJPl+c0BQvXbGTNotyLzAjWx9XkEnrw4/nlhe1INuQE+k4bmE5T1qkSxerw/DJ"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RazorEngine" publicKeyToken="9ee697374c7e744a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
