<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentEmail.Core" version="2.5.1" targetFramework="net461" />
  <package id="FluentEmail.Mailgun" version="2.5.3" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.1.1" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net461" />
  <package id="Scriban" version="1.2.9" targetFramework="net461" />
</packages>