<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable name="logDirectory" value="${specialfolder:folder=ApplicationData}/NeetpiqLab/${processname}/logs"/>
  <targets>
    <target name="logfile" xsi:type="File"
            fileName="${var:logDirectory}/${processname}.log"
            layout="${longdate}|${level:uppercase=true}|${threadid}|${logger}|${message} ${exception:format=tostring}"
            archiveFileName="${logDirectory}/archive/${processname}.{#}.log"
            maxArchiveFiles="7"
            archiveEvery="Day"
            archiveNumbering="Date"
            archiveAboveSize="100000000"
            archiveDateFormat="yyyyMMdd" />
    <target name="logconsole" xsi:type="Console" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="logconsole" />
    <logger name="*" minlevel="Debug" writeTo="logfile" />
  </rules>
</nlog>